@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');





body{
background-color: cyan;
font-family: "Noto Serif JP",cursive;

}

h1{
color: blue;
font-family: "Indie Flower";

}

a:hover{
  color: red;
  text-decoration: none;
}
