@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');





body{
background-color: cyan;
font-family: "Noto Serif JP",cursive;

}

h1{
color: blue;
font-family: "Indie Flower", cursive;
text-align: left;

}

a:hover{
  color: red;
  text-decoration: none;
}

p{

  line-height: 100px;
  text-indent: 25px;

}

b {
font-weight: bold;

}

h2{
color: blue;
text-align: center;

}
