@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');





body{
background-color: #FFE4E1;
font-family: "Noto Serif JP",cursive;

}

h1{
color: #40E0D0;
font-family: "Indie Flower", cursive;
text-align: left;

}

a:hover{
  color: #C71585;
  text-decoration: none;
}

p{

  line-height: 100px;
  text-indent: 25px;

}

b {
font-weight: bold;

}

address{
color: #FF1493;
font-family: "Indie Flower", cursive;
text-align: center;

}

h2{
color: #9400D3;
text-align: center;

}

#top {
    color: red;
    font-weight: bold;
}
